/*Site wrapper*/
.wrapper {
    position: relative;
}
/*End site wrapper*/



/*To the top*/
.block-top:not(.active) {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    pointer-events: none;
}
.block-top.active:hover {
    transform: translate3d(0, -5px, 0);
    -webkit-transform: translate3d(0, -5px, 0);
    -moz-transform: translate3d(0, -5px, 0);
    color: #ffffff;
}
.block-top {
    position: fixed;
    width: 3.2rem;
    height: 3.2rem;
    background: #ff5252;
    text-align: center;
    right: 2.875rem;
    bottom: 3.6875rem;
    padding-top: .6rem;
    z-index: 100;
    color: #ffffff;
}
.block-top i{
    font-size: 1.2rem;
}
/*End to the top*/


/* Hero Section*/

.background-img img {
    display: none;
}
.background-img {
    width: 100%;
    height: 100%;
}
.background-img {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #151514;
    background-image: none;
    background-origin: padding-box;
    background-position: 50% 50% !important;
    background-repeat: repeat;
    background-size: cover !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.overlay:before, .block-hover:before {
    position: absolute;
    background: rgba(19, 24, 29, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    content: "";
}
.header {
    padding: .4em 0;
}
.slider .slides li {
    background-size: cover;
    
}
.header.default {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1040;
}
.header .left-part {
    float: left;
    margin-left: 3.125rem;
}
.header .right-part {
    float: right;
    margin-right: 3.125rem;
    position: relative;
}
.header.switched-header {
    background-color: #ffffff;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1040;
}
.header .logo {
    display: inline-block;
}
.header .logo h2 {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
}

.header.switched-header .logo h2{
    color: #222222;
}
.mobile-but {
    display: inline-block;
    height: 1.5rem;
    position: absolute;
    right: -1.275rem;
    top: -2.175rem;
    z-index: 1000;
    display: none;
}
.mobile-but .lines {
    transform: translate(0px, 10px) rotate(0deg);
    -webkit-transform: translate(0px, 10px) rotate(0deg);
    -ms-transform: translate(0px, 10px) rotate(0deg);
    -moz-transform: translate(0px, 10px) rotate(0deg);
}
.mobile-but .lines, .mobile-but .lines:after, .mobile-but .lines:before {
    height: 0.125rem;
    width: 1.5625rem;
}
.mobile-but .lines:after, .mobile-but .lines:before {
    content: " ";
    display: block;
}
.mobile-but .lines:after {
    transform: translate(0px, 4px) rotate(0deg);
    -webkit-transform: translate(0px, 4px) rotate(0deg);
    -ms-transform: translate(0px, 4px) rotate(0deg);
    -moz-transform: translate(0px, 4px) rotate(0deg);
}
.mobile-but .lines:before {
    transform: translate(0px, -4px) rotate(0deg);
    -webkit-transform: translate(0px, -4px) rotate(0deg);
    -ms-transform: translate(0px, -4px) rotate(0deg);
    -moz-transform: translate(0px, -4px) rotate(0deg);
}
.mobile-but .lines:after, .mobile-but .lines:before {
    background: #ff5252;
}
.toggle-mobile-but.active .mobile-but .lines:after {
    transform: translate(0px, -1px) rotate(45deg);
    -webkit-transform: translate(0px, -1px) rotate(45deg);
    -ms-transform: translate(0px, -1px) rotate(45deg);
    -moz-transform: translate(0px, -1px) rotate(45deg);
}
.toggle-mobile-but.active .mobile-but .lines:before {
    transform: translate(0px, 1px) rotate(-45deg);
    -webkit-transform: translate(0px, 1px) rotate(-45deg);
    -ms-transform: translate(0px, 1px) rotate(-45deg);
    -moz-transform: translate(0px, 1px) rotate(-45deg);
}
.main-nav li {
    display: inline-block;
    font-size: .6875rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 1.9625rem;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.main-nav ul li.block-helper:last-child {
    margin-left: .625rem;

}
.main-menu li a {
    color: #ffffff;
    position: relative;
    padding:1rem 0;
    margin-right: 0 !important;
}


.header.switched-header .main-nav li a {
    color: #949494;
    
}
.hero-content {
    color: #ffffff;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 4;
}
.hero.single{
    height: 40vh;
}
h1.large {
    font-size: 4.4rem;
    line-height: 1.5;
    letter-spacing: .425rem;
    font-weight: 100;
}

/* End hero Section*/



/* Tours section*/

img.background-img {
    object-fit: cover;
}
.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.border-dashed {
   padding: 8px;
   background-image: repeating-linear-gradient(135deg, #ff5252, #ff5252 10px, #FFF 0px, #FFF 20px, #13181d 0px, #13181d 30px, #FFF 0px, #FFF 40px);
}
.block-subscribe{
    position: relative;
   background: #13181d;
}
.block-subscribe p{
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6;
}
/* End tours section*/


/*Footer*/
.footer{
    background: #ffffff;
    color: #292929;
}

.footer .list-inline-item{
    position: relative;
}
.footer .list-inline-item a{
    color: #292929;
    opacity: .5;
}
.footer .list-inline-item:not(:first-child):after{
    content: "-";
    position: absolute;
    left:-.8125rem;
    top: .0625rem;
    opacity: .5;
}
.footer .list-inline-item a:hover{
    opacity: 1;
}

/*Media queries*/
@media all and (max-width: 990px) {


   .header .left-part,
    .header .right-part {
         float: none;
         display: block;
    }
    .header .left-part {
         margin-left: 1.857rem;
    }

    .header {
         background-color: #ffffff !important;
         
    }
    .header .logo {
         margin-top: 0;
         color: #222222 !important;
    }
    
    
     .header .logo h2 {
         color: #222222 !important;
    }


   .mobile-but {
       display: block;
   }

   .main-nav li.block-helper:before{
       content: none;
   }

    .main-nav ul li:last-child{
       border-top: none;
       padding-top: 0;
       margin-top: 0;


   }


     .main-nav li.block-helper{
       border-top: 1px solid rgba(41,41,41,.1);
       padding-top: 10px;
       margin-top: 10px;
       padding-left: 0;
   }



   .main-menu li a, .main-nav li span {
       display: inline-block;
       padding: .2rem 0;

   }
   
    .main-nav li a {
    color: #949494 !important;
}
   .main-nav li:last-child a {
       padding-bottom: 0;
   }
   


.main-nav ul li.block-helper:last-child{
   margin-left: 0;
}

.main-nav ul li.block-helper a, .main-nav ul li.block-helper span{
   padding: 0;
}

   

}

@media only screen and (min-width: 768px) and (max-width: 960px) {
   input,
   textarea {
       -webkit-appearance: none;
   }


   .header{
    overflow-y: scroll;
   overflow-x: hidden;
   max-height: 400px;
   }
.block-subscribe p{font-size: 1.4rem;}

.height-70 {
   height: 100vh;
}

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
   
   .header{
    overflow-y: scroll;
   overflow-x: hidden;
   max-height: 400px;
   }
   
   .hero .main-slider .slides li{height: 500px !important;}

.block-content.text-md-right {margin-bottom: 1.875em;}

   h1.large{font-size: 4rem;}


     .height-70 {
   height: 100vh;
}

}
@media only screen and (max-width: 479px) {


   .block-subscribe:before{right: 1.75rem;}
   .block-subscribe p{font-size: 1.4rem;}    
}
/*End media queries*/